<% include ../../template-backoffice/header.ejs %>
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Tambah Data Kemiskinan</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a></li>
        <li><a href="/manajemen_kemiskinan">Data</a></li>
        <li class="active">Tambah Data</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-content">
          <form role="form" action="#" method="POST" enctype="multipart/form-data" class="form-horizontal">
            <div class="tab tab-light clearfix"> 
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist" >
                  <li class="active"><a href="#tab1" data-toggle="tab" aria-expanded="false" style="padding: 7.5px;"><span class="font-custom" style="font-size: 14px;">DATA ART KEPMENKOPMK</span></a></li>
                  <li><a href="#tab2" data-toggle="tab" aria-expanded="false" style="padding: 7.5px;"><span class="font-custom" style="font-size: 14px;">DATA RT KEPMENKOPMK</span></a></li>
                  <li><a href="#tab3" data-toggle="tab" aria-expanded="false" style="padding: 7.5px;"><span class="font-custom" style="font-size: 14px;">KET. HASIL VERVAL</span></a></li>
                  <li><a href="#tab4" data-toggle="tab" aria-expanded="false" style="padding: 7.5px;"><span class="font-custom" style="font-size: 14px;">OVERLAY DATA DTKS</span></a></li>
                  <li><a href="#tab5" data-toggle="tab" aria-expanded="false" style="padding: 7.5px;"><span class="font-custom" style="font-size: 14px;">KOMPONEN TAGGING SIKS-DJ</span></a></li>
                  <li><a href="#tab6" data-toggle="tab" aria-expanded="false" style="padding: 7.5px;"><span class="font-custom" style="font-size: 14px;">BANSOS (APBN)</span></a></li>
                  <li><a href="#tab7" data-toggle="tab" aria-expanded="false" style="padding: 7.5px;"><span class="font-custom" style="font-size: 14px;">BANSOS (APBD)</span></a></li>
                  <li><a href="#tab8" data-toggle="tab" aria-expanded="false" style="padding: 7.5px;"><span class="font-custom" style="font-size: 14px;">BANSOS (DANA DESA)</span></a></li>
                  <li><a href="#tab9" data-toggle="tab" aria-expanded="false" style="padding: 7.5px;"><span class="font-custom" style="font-size: 14px;">SIMPAN DATA</span></a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab1" >
                  <div class="row">
                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label" style="text-align: left;">Kecamatan</label>
                      <div class="col-sm-9">
                        <select name="" id="" class="form-control">
                          <option value="">-- Pilih --</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label" style="text-align: left;">Desa/Kelurahan</label>
                      <div class="col-sm-9">
                        <select name="" id="" class="form-control">
                          <option value="">-- Pilih --</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label" style="text-align: left;">Alamat</label>
                      <div class="col-sm-9">
                        <textarea name="" id="" class="form-control" rows="3"></textarea>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label" style="text-align: left;">Nama</label>
                      <div class="col-sm-9">
                        <input type="text" name="" id="" class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label" style="text-align: left;">NIK</label>
                      <div class="col-sm-9">
                        <input type="text" name="" id="" class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label" style="text-align: left;">Padan Dukcapil</label>
                      <div class="col-sm-9">
                        <select name="" id="" class="form-control">
                          <option value="">-- Pilih --</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label" style="text-align: left;">Jenis Kelamin</label>
                      <div class="col-sm-9">
                        <select name="" id="" class="form-control">
                          <option value="">-- Pilih --</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label" style="text-align: left;">Hubungan Dengan KK</label>
                      <div class="col-sm-9">
                        <select name="" id="" class="form-control">
                          <option value="">-- Pilih --</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div role="tabpanel" class="tab-pane fade" id="tab2">
                  <div class="row">
                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label" style="text-align: left;">Kepemilikan Rumah</label>
                      <div class="col-sm-9">
                        <select name="" id="" class="form-control">
                          <option value="">-- Pilih --</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label" style="text-align: left;">Memiliki Simpnan Uang/Perhiasan/Ternak/Lainnya</label>
                      <div class="col-sm-9">
                        <select name="" id="" class="form-control">
                          <option value="">-- Pilih --</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label" style="text-align: left;">Jenis Atap</label>
                      <div class="col-sm-9">
                        <select name="" id="" class="form-control">
                          <option value="">-- Pilih --</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label" style="text-align: left;">Jenis Dinding</label>
                      <div class="col-sm-9">
                        <select name="" id="" class="form-control">
                          <option value="">-- Pilih --</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label" style="text-align: left;">Jenis Lantai</label>
                      <div class="col-sm-9">
                        <select name="" id="" class="form-control">
                          <option value="">-- Pilih --</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div role="tabpanel" class="tab-pane fade" id="tab3">
                  <div class="row">
                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label" style="text-align: left;">Memenuhi Kriteria P3KE</label>
                      <div class="col-sm-9">
                        <select name="" id="" class="form-control">
                          <option value="">-- Pilih --</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label" style="text-align: left;">Alasan Tidak Memenuhi Kriteria P3KE</label>
                      <div class="col-sm-9">
                        <textarea name="" id="" class="form-control" rows="2"></textarea>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label" style="text-align: left;">Keterangan</label>
                      <div class="col-sm-9">
                        <textarea name="" id="" class="form-control" rows="2"></textarea>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label" style="text-align: left;">Keterangan Tambahan</label>
                      <div class="col-sm-9">
                        <textarea name="" id="" class="form-control" rows="2"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div role="tabpanel" class="tab-pane fade" id="tab4">
                      
                </div>
  
                <div role="tabpanel" class="tab-pane fade" id="tab5">
                      
                </div>
  
                <div role="tabpanel" class="tab-pane fade" id="tab6">
                      
                </div>

                <div role="tabpanel" class="tab-pane fade" id="tab7">
                      
                </div>

                <div role="tabpanel" class="tab-pane fade" id="tab8">
                      
                </div>
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <% include ../../template-backoffice/copyright.ejs %>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>
<script type="text/javascript">

</script>