<% include ../../template-backoffice/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Atur Jadwal dan Hak Akses User <br/><small>(Nama Usernya)</small></strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a></li>
        <li><a href="/manajemen_basic">Data</a></li>
        <li class="active">Edit Data</li>
      </ol>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-content">
          <form role="form" action="#" method="POST" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group">
              <label for="" class="col-sm-3 control-label" style="text-align: left;">Jadwal Akses</label>
              <div class="col-sm-4">
                <input type="date" name="" id="" class="form-control" placeholder="Awal">
              </div>

              <div class="col-sm-5">
                <input type="date" name="" id="" class="form-control" placeholder="Akhir">
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <h3><strong>HAK AKSES</strong></h3>
                  <hr style="margin-bottom: 0;">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-3 control-label" style="text-align: left;">ART KEPMENKOPMK</label>
              <div class="col-sm-9">
                <select name="" id="" class="form-control">
                  <option value="">-- Pilih --</option>
                  <option value="">Ya</option>
                  <option value="">Tidak</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-3 control-label" style="text-align: left;">RT KEPMENKOPMK</label>
              <div class="col-sm-9">
                <select name="" id="" class="form-control">
                  <option value="">-- Pilih --</option>
                  <option value="">Ya</option>
                  <option value="">Tidak</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-3 control-label" style="text-align: left;">Keterangan Hasil Verval</label>
              <div class="col-sm-9">
                <select name="" id="" class="form-control">
                  <option value="">-- Pilih --</option>
                  <option value="">Ya</option>
                  <option value="">Tidak</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-3 control-label" style="text-align: left;">Overlay Data DTKS</label>
              <div class="col-sm-9">
                <select name="" id="" class="form-control">
                  <option value="">-- Pilih --</option>
                  <option value="">Ya</option>
                  <option value="">Tidak</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-3 control-label" style="text-align: left;">Komponen Tagging SIKS-DJ</label>
              <div class="col-sm-9">
                <select name="" id="" class="form-control">
                  <option value="">-- Pilih --</option>
                  <option value="">Ya</option>
                  <option value="">Tidak</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-3 control-label" style="text-align: left;">Bansos APBN</label>
              <div class="col-sm-9">
                <select name="" id="" class="form-control">
                  <option value="">-- Pilih --</option>
                  <option value="">Ya</option>
                  <option value="">Tidak</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-3 control-label" style="text-align: left;">Bansos APBN</label>
              <div class="col-sm-9">
                <select name="" id="" class="form-control">
                  <option value="">-- Pilih --</option>
                  <option value="">Ya</option>
                  <option value="">Tidak</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-3 control-label" style="text-align: left;">Bansos APBD</label>
              <div class="col-sm-9">
                <select name="" id="" class="form-control">
                  <option value="">-- Pilih --</option>
                  <option value="">Ya</option>
                  <option value="">Tidak</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="" class="col-sm-3 control-label" style="text-align: left;">Bansos Dana Desa</label>
              <div class="col-sm-9">
                <select name="" id="" class="form-control">
                  <option value="">-- Pilih --</option>
                  <option value="">Ya</option>
                  <option value="">Tidak</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <% include ../../template-backoffice/footer.ejs %>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>
<script type="text/javascript">

</script>